/* Contact Page css */

body {
  box-sizing: border-box;
  margin: 10vw;
  min-height: 100%;
  background-color: #fff;
  font-family: Raleway;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  justify-content: center;
}

.contactMessage {
  background-color: #1275B1;
  color: white;
}

.contactMessage p {
  font-size: 20px;
  font: bold;
}

.column {
  display: flex;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  justify-content: center;
}

.row:after {
  justify-content: center;
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* Index css */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 100vw;
}

.introbox {
  width: 350px;
}

.intro h1 {
  font-family: Raleway;
  font-style: normal;
  font-size: 85px;
  font-weight: 800;
  width: 430px;
  height: 121px;
  left: 354px;
  top: 377px;
}

.intro p {
  font-size: 12px;
  text-align: justify;
}

.intro a {
  justify-content: space-around;

}

.introlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}


.projectbox {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #2F45BB 0%, #CECCCC 100%);
  width: 55em;
  height: 20em;
  margin-bottom: 40px;
  border-radius: 15px;
}

.projectscreen {
  flex-basis: 60%;
  border-radius: 15px;
  margin: 16px
}

.projectdesc {
  background: white;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 0 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectdesc h4 {
  color: gray;
}

.projectbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectbox button {
  display: flex;
  align-self: center;
  background-color: white;
  border: solid;
  color: black;
  font-size: 12px;
  border-width: 1px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  border-radius: 16px;
}

.box {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 40px;
}


.grid2x2 {
  display: flex;
  min-height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  width: 850px;
}


.boxes {
  display: flex;
  justify-content: space-around;
  margin: 9px 20px;
  background: lightgray;
  width: 330px;
  height: 355px;
  border-radius: 15px;
}


/* header */
.header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  height: 40px;
}

.header .logo img {
  height: 100%;
  width: 100%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}