body {
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 14px;
    /* line-height: 20px; */
    color: #333;
}

a {
    color: #000;
  }

.bio {
    display: flex;
    margin: 10vw;
    box-sizing: border-box;
    align-items: center;

}

.bio h1 {
    display: flex;
    font-size: 60px;
    color: #1275B1;
    line-height: 55px;
    padding-top: 50px;
    width: 40%;
}

.bio p {
    width: 50%;
}

.profilePic {
    border-radius: 0 0 20px 20px;
    padding: 3vw;
    background: #1275B1;
    height: 500px;
    
}

.profilePic img {
    display: flex;
    align-self: flex-end;
    height: 470px;
}


.threeFunFax h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    color: white;
}

.threeFunFax {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10vw;
    justify-content: space-evenly;
    background-color: #1275B1;
}



/* header */

.header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    background: white;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    height: 40px;
  }
  
  .header .logo img {
    height: 100%;
    width: 100%;
  }

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}